/*
 * Stylesheet for the Cinci LMS system.
 */

/*----------------------------------------------------------------------------
 * Form specific CSS rules.
 */
body 
{
   background: white;
   margin: 0.25in; 
   color: black;
   font-family: sans-serif;
}

div.header {
   background: black;
   color: white;
   padding: 8px;
   margin-bottom: 0px;
}

div.header h1
{
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

div.content {
   display: block;
   overflow: hidden;
   padding-bottom: 10px;
}

div.footer {
   clear: both;
   background: black;
   color: white;
}

div.footer img.pblogo {
   margin-right: 3px;
   float: left;
}

div.footer p {
   font-size: small;
   text-align: right;
}

div.navi {
   /*float: left;*/
   /*min-height: 400px;*/
   z-index: 2;
   background: #404040;
}

div.menu {
   /*float: left;*/
   /*margin: 8px;*/
   z-index: 1;
   clear: both;
}

div.menu ul {
   list-style: none;
   margin: 0;
   padding: 0;
   background-color: black;
}

div.menu a, div.menu p {
   font-family: helvetica, arial, sans-serif;
   font-size: small;
   display: block;
   border-width: 1px;
   border-style: solid;
   border-color: #808080 #404040 #202020 #808080;
   margin: 0;
   padding: 2px 3px;
}

div.menu p img {
   position: absolute;
   right: 4px;
   top: 3px;
}

div.menu p {
   color: #FFF;
   background: #000000;
}

div.menu a {
   color: #FFF;
   background: #E00122;
   text-decoration: none;
}

div.menu a:hover,
div.menu p:hover {
   color: #000;
   background: #FFFFFF;
}

div.menu p.disabled,
div.menu p.disabled:hover {
   color: #A0A0A0;
   background: #404040;
   text-align: center;
}

div.menu ul {
   position: absolute;
   display: none;
   top: 0%;
   left: 100%;
   width: 9em;
   z-index: 2;
}

div.menu ul.L0 {
   position: relative;
   top: 0%;
   left: 0%;
   width: 100%;
}

div.menu ul.context {
   position: absolute;
   display: block;
   top: 100%;
   left: 0%;
   z-index: 3;
}

div.menu ul.L1 {
   position: absolute;
   top: 100%;
   left: 0%;
   z-index: 3;
}

div.menu ul li {
   position: relative;
   float: left;
   width: 100%;
   /*z-index: 2;*/
}

div.menu ul.L0 li {
   width: 9em;
}


div.menu li.separator {
   height: 4px;
}

/*
 * Pure CSS menus are nice, but there isn't a proper way to
 * define them recursively forever, as the display:block style
 * will always cascade the entire way down, so we will need
 * a rule for each level.
 */
div.menu ul.L0,
div.menu ul.L0 li:hover ul.L1,
div.menu ul.L1 li:hover ul.L2,
div.menu ul.L2 li:hover ul.L3,
div.menu ul.L3 li:hover ul.L4,
div.menu ul.L4 li:hover ul.L5
{
   display: block;
}

/*
a:hover {
   color: #FF9;
   background: #330;
}

a:visited {
   color: #FFF;
}

a:link {
   color: #FFF;
}

a:active {
   color: #FFF;
}
*/

a img {
   border: none;
}

div.status {
   background: #FFEEAA;
   border: 1px dashed #CCAA00;

   margin-bottom: 8px;
}

div.status.errorStatus {
   background: #FF0000;
   border 1px dashed #FFFFFF;
   color: #FFFFFF;
}

div.status.successStatus {
   background: #AAFFAA;
   border 1px dashed #000000;
   color: #000000;
}

/*----------------------------------------------------------------------------
 * Form specific CSS rules.
 */
form fieldset {
   border: 0;
   margin: 0;
   padding: 0;
}

form label, form p {
   font-size: small;
}

form input {
   margin-right: 8px;
}

div.prompt {
   margin: 0px auto;
   display: table;
}

div.error,
div.warning {
   padding-left: 4em;
   padding-right: 4em;
   margin-top: 20px;
}

div.error {
   background: #FF9999;
   border: 1px dashed red;
   background-image: url('images/error.png');
   background-repeat: no-repeat;
   background-position: 8px 4px;
}

div.warning {
   background: #FFFF99;
   margin-top: 20px;
   border: 1px dashed #AAAA44;
   background-image: url('images/warning.png');
   background-repeat: no-repeat;
   background-position: 8px 4px;

}

form p.field_note {
   font-size: x-small;
   color: #000088;
}

form label {
   padding-right: 8px;
}

form textarea {
   min-width: 15em;
   min-height: 4em;
}

form div.list {
   font-size: medium;
   display: table;
   margin-bottom: 8px;
}

form div.list div.row {
   display: table-row;
}

form div.list div.submit_row * {
   margin-top: 16px;
}

form p {
   margin-top: 0;
   margin-bottom: 0;
   line-height: 1.10;
}

form div.list div.row label,
form div.list div.row input,
form div.list div.row span {
   display: table-cell;
}

form label.first {
   width: 8em;
}

form label.top {
   vertical-align: top;
}


/*----------------------------------------------------------------------------
 * CSS Rules for Content Items.
 */
.breadcrumb a {
   color: black;
}

.breadcrumb a:hover {
   color: #E01222;
}

.content-item {
   background-color: #F0F0F0;
   display: block;
   margin: 1em;
   padding-left: 4em;
   padding-right: 4em;
   padding-top: 2px;

   min-height: 50px;

   text-align: left;

   text-decoration: none;
}

a.content-item:hover {
   background-color: #F0D0C0;
}

.content-item .title {
   font-weight: bold;
   line-height: 50px;
   font-size: large;
   vertical-align: middle;
   color: black;
}

.course {
   background-image: url('images/course.png');
   background-repeat: no-repeat;
   background-position: 8px 4px;
}

a.course:hover {
   background-image: url('images/course-open.png');
}

.folder {
   background-image: url('images/content-folder.png');
   background-repeat: no-repeat;
   background-position: 8px 4px;
}

a.folder:hover {
   background-image: url('images/content-folder-open.png');
}

.item {
   background-image: url('images/content-item.png');
   background-repeat: no-repeat;
   background-position: 8px 4px;
}

/*----------------------------------------------------------------------------
 * CSS Rules for Search Results.
 */
div.search_results th {
   background-color: #F0D0C0;
}

div.search_results table,
div.search_results th,
div.search_results tr,
div.search_results td {
   border: 0px;
}

div.search_results th,
div.search_results td {
   min-width: 6em;
   max-width: 30em;
}

div.search_results th {
   text-align: center;
}

div.search_results td {
   padding-right: 8px;
}


/*----------------------------------------------------------------------------
 * CSS Rules for the Grade Record.
 */
div.grades table {
   display: block;
   overflow-x: scroll;
}

div.grades table,
div.grades th,
div.grades tr,
div.grades td {
   border: 0px;
}

div.grades th,
div.grades td {
   min-width: 7em;
   max-width: 25em;
   padding-left: 2px;
   padding-right: 2px;
}

div.grades th {
   padding-right: 2em;
}

div.grades td {
   padding-right: 2px;
}

div.grades th {
   background-color: #FF6140;
   text-align: left;
}

div.grades th.header {
   background-image: url('images/table-unsorted.gif');
   background-repeat: no-repeat;
   background-position: center right;
}

div.grades th.header img {
   cursor: pointer;
}

div.grades th.headerSortUp {
   background-image: url('images/table-up.gif');
   background-color: #FFA180;
}

div.grades th.headerSortDown {
   background-image: url('images/table-down.gif');
   background-color: #FFA180;
}

div.grades tr {
   background-color: #B4FD4D;
}

div.grades tr.odd {
   background-color: #DAF48E;
}

div.grades td.static {
   background-color: #99EEFF;
}

div.grades tr.odd td.static {
   background-color: #B2F1FF;
}

div.grades td.editable input {
   font-family: inherit;
   font-size: 100%;
   border: 0px;
   outline: none;
   padding: 0px;
   margin: 0px;
}

div#column-context-menu {
   display: none;
   position: absolute;
   background: white;
   width: 6em;
   top: 0px;
   left: 0px;
}



